extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h3.display-4.m-b-2 Создать директорию
                
                form(method='POST', action='/createDir')
                    div.form-group
                        label(for='name') Name:
                        input#name.form-control(type='text', placeholder='first and last', name='name')
                    button.btn.btn-primary(type='submit') Create
        .row
            .col-md-6.col.md.offset-3
                ul
                    if dirs != undefined
                        each key, link in dirs
                            li=link
                            a(href=`${key}`)=link